// Base styles

.wrapper {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

body {
    background-image: radial-gradient(ellipse at top, #080e21 50%, #1b2735 95%);
}

img {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}

h3 {
    width: 100%;
}

ul {
    list-style: none;
}

.flexContainer {
    display: flex;
}

.textContainer {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe, .skills, .portfolio, .contact {
    margin-top: 100px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    font-size: 1rem;
    color: $dark-theme-color;
    font-family: $secondaryFont;
}




