header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

header div {
    display: flex;
    align-items: center;
    justify-content: right;
}