// Media Queries

// Queries at 1100px

@media (max-width: 1100px) {
    // Section Queries

    .aboutMe {
        .flexContainer {
                flex-direction: column;
                align-items: center;
            }
        .imgContainer,
        .textContainer {
            width: 100%;
            display: flex;
            justify-content: center;

            img {
                border-radius: 50%;
                max-width: 500px;
                max-height: 500px;
                align-items: center;
            }

        }

    }
    
    .portfolio {
        .portfolioContainer {
                flex-direction: column;
                margin-bottom: 50px;
            }
        
            .imgContainer,
            .textContainer {
                width: 100%;
            }

    }

}

// Queries at 860px

@media (max-width: 860px) {
    nav ul {
        display: none;
    }

    .menuIcon {
        display: block;
    }

    .contactContainer {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        div, a {
            padding: 20px;
        }

    }

    .contact .flexContainer .contactContainer div {
        width: 100%;
    }

}

// queries at 650px

@media (max-width: 650px) {
    .skills .flexContainer{

        .iconContainer {
            display: flex;
            flex-direction: column;
            width: calc((100%/3));

        }
        
    }

}

// queries at 425px

@media (max-width: 425px) {
    .linkContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

