// Nav styles

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: $dark-bg-color;
    z-index: 10;
}

nav, ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;

    li {
        margin: 0 25px 0 25px;
    }
}

// nav p {
//     margin: 0 auto;
// }

nav li a {
    transition: 0.3s;
    &:hover,
    &:focus {
            opacity: 80%;
            color: $dark-theme-color;
        }
}

// .slideOutMenu {
//     background-color: $dark-bg-color;
//     position: relative;
//     overflow: hidden;
//     display: flex;
//     flex-direction: column;

//         li {
//             margin: 20px;
//         }  
// }

// .menuIcon {
//     position: absolute;
//     margin: 15px;
//     left: 0;
//     top: 0;
//     transition: 0.3s;
//         &:hover, &:focus {
//             color: $dark-theme-color;
//         }
// }

// .menuIcon, .slideOutMenu{
//     display: none;
// }