// About Me Section

.aboutMe { 
    margin-top: 150px;   
    img {
        width: 50%;
        border-radius: 50%;
    }

    h2 {
        width: 50%;
        text-align: center;
    }

    p{
        width: 50%;
    }    
}

