// About Me Section

.aboutMe {
    margin-top: 150px;

    .imgContainer, .textContainer {
        width: calc( (100% / 2 ) - 50px) ;
        padding: 25px;

        img {
            border-radius: 50%;
            max-width: 600px;
            max-height: 600px;
        }
        
        }
    .textContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// Skills Section

.skills {
    margin-top: 150px;

    .flexContainer {
        flex-wrap: wrap;
        justify-content: space-between;

        .iconContainer {
            display: flex;
            flex-direction: column;
            width: calc((100%/5));
    
            i {
                font-size: 5rem;
                text-align: center;
            }

            p {
                text-align: center;
            }
    
        }
    }
    
}

// Portfolio section

.portfolio {
    .flexContainer {
        flex-direction: column;
    }
    .portfolioContainer {
        display: flex;
        width: 100%;
        margin-bottom: 50px;
    }
    .imgContainer, .textContainer{
        width: calc( (100% / 2) - 50px );
        padding: 0 25px 0 25px;

        p {
            margin: 0;
        }

        img {
            width: 100%;
            object-fit: cover;
            min-height: 350px;
        }
    }

    .textContainer {
        flex-direction: column;
    }

    .skillsUsed {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 20px;
            li {
                padding: 10px 20px 0 0;
                font-weight: bold;   
            }
    }

    .partners {
        font-size: 1.1rem;
        text-transform: capitalize;
        font-weight: 400;
        transition: 0.3s;
            &:hover,
            &:focus {
                color: $dark-theme-color;
            }
    }

    .linkContainer {
        padding: 25px 25px 0 0;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
            a {
                transition: 0.3s;
                    &:hover, &:focus {
                        color: $dark-theme-color;
                        opacity: 80%;
                    }
                i {
                   font-size: 2rem; 
                   margin-right: 25px;
                }
            }
    }

    .linkContainer .liveLink {
        border: 2px solid $dark-theme-color;
        border-radius: 5px;
        padding: 5px;
    }   
        
}

.portfolio img {
    border: 5px solid $dark-primary-color;
    border-radius: 5px;
    transition: 0.3s;
        &:hover,
        &:focus {
            opacity: 80%;
            border: 10px solid $dark-theme-color;
        }
}

// Contact Me Section

.contact {
    p, h3 {
        margin: 0;
        text-align: center;
    }

    .flexContainer {
        flex-direction: column;

        .contactContainer {
            display: flex;
            margin-top: 25px;

            div, a {
                width: calc( 100% / 3 );
                text-align: center;
                transition: 0.3s;
                    &:hover,
                    &:focus {
                        opacity: 80%;
                        color: $dark-theme-color;
                    }
            }

        }

    }

    i {
        font-size: 4rem;
    }

    h3 {
        padding-bottom: 15px;
    }

}

