// Colours

$dark-bg-color: #090b0b;
$dark-theme-color: #03a696;
$dark-primary-color: #ffffff;
$dark-secondry-color: #9a9a9a;

// Fonts

// font-families
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;

$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Poppins', sans-serif;

