html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

body {
  background-color: #090b0b;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

h3 {
  width: 100%;
}

ul {
  list-style: none;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.textContainer {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMe, .skills, .portfolio, .contact {
  margin-top: 100px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  font-size: 1rem;
  color: #03a696;
  font-family: "Poppins", sans-serif;
}

body {
  color: #ffffff;
  font-size: 125%;
}

li, a {
  text-decoration: none;
}

h1, h2, h3, a, .logo {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  text-transform: none;
}

.logo, a {
  font-size: 1.5rem;
}

.logo {
  text-transform: none;
}

span {
  line-height: 1.25;
}

.name {
  color: #03a696;
}

h2 {
  text-decoration: underline;
}

section p {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.contact p {
  font-size: 1.25rem;
  width: 100%;
}

.email {
  font-weight: bold;
  color: #ffffff;
}

.tinyText {
  font-size: 0.5rem;
  text-align: right;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: sticky;
  top: 0;
  background-color: #090b0b;
  z-index: 20;
  height: 10vh;
}
nav .logo {
  display: block;
}
nav .flexContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}
nav ul li {
  margin: 0 25px 0 25px;
}

nav li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav li a:hover, nav li a:focus {
  opacity: 80%;
  color: #03a696;
  text-decoration: underline;
}

.menuIcon {
  font-size: 2rem;
  display: none;
}
.menuIcon:hover, .menuIcon:focus {
  color: #03a696;
}

.slideOutMenu {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #090b0b;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slideOutMenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slideOutMenu a:hover, .slideOutMenu a:focus {
  color: #03a696;
}

.slideOutMenu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 2rem;
  margin-left: 50px;
}

header {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../assets/markus-spiske-FXFz-sW0uwo-unsplash.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.aboutMe .imgContainer, .aboutMe .textContainer {
  width: calc(50% - 50px);
  padding: 25px;
}
.aboutMe .imgContainer img, .aboutMe .textContainer img {
  border-radius: 50%;
  max-width: 600px;
  max-height: 600px;
}
.aboutMe .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .flexContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills .flexContainer .iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
}
.skills .flexContainer .iconContainer i {
  font-size: 5rem;
  text-align: center;
}
.skills .flexContainer .iconContainer p {
  text-align: center;
}

.portfolio .flexContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portfolio .portfolioContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}
.portfolio .imgContainer, .portfolio .textContainer {
  width: calc(50% - 50px);
  padding: 0 25px 0 25px;
}
.portfolio .imgContainer p, .portfolio .textContainer p {
  margin: 0;
}
.portfolio .imgContainer img, .portfolio .textContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 350px;
}
.portfolio .textContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portfolio .skillsUsed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}
.portfolio .skillsUsed li {
  padding: 10px 20px 0 0;
  font-weight: bold;
}
.portfolio .partners {
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio .partners:hover, .portfolio .partners:focus {
  color: #03a696;
}
.portfolio .linkContainer {
  padding: 25px 25px 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio .linkContainer a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio .linkContainer a:hover, .portfolio .linkContainer a:focus {
  color: #03a696;
  opacity: 80%;
}
.portfolio .linkContainer a i {
  font-size: 2rem;
  margin-right: 25px;
}
.portfolio .linkContainer .liveLink {
  border: 2px solid #03a696;
  border-radius: 5px;
  padding: 5px;
}

.portfolio img {
  border: 5px solid #ffffff;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio img:hover, .portfolio img:focus {
  opacity: 80%;
  border: 10px solid #03a696;
}

.contact p, .contact h3 {
  margin: 0;
  text-align: center;
}
.contact .flexContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact .flexContainer .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .flexContainer .contactContainer a, .contact .flexContainer .contactContainer .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.3333333333%;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact .flexContainer .contactContainer a:hover, .contact .flexContainer .contactContainer a:focus, .contact .flexContainer .contactContainer .email:hover, .contact .flexContainer .contactContainer .email:focus {
  opacity: 80%;
  color: #03a696;
}
.contact i {
  font-size: 4rem;
}
.contact h3 {
  padding-bottom: 15px;
}

footer {
  margin: 100px 0 25px 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  border-top: 2px solid #9a9a9a;
}

@media (max-width: 1100px) {
  .aboutMe .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutMe .imgContainer,
.aboutMe .textContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutMe .imgContainer img,
.aboutMe .textContainer img {
    border-radius: 50%;
    max-width: 500px;
    max-height: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio .portfolioContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .portfolio .imgContainer,
.portfolio .textContainer {
    width: 100%;
  }
}
@media (max-width: 860px) {
  nav ul {
    display: none;
  }
  .menuIcon {
    display: block;
  }
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactContainer div, .contactContainer a {
    padding: 20px;
  }
  .contact .flexContainer .contactContainer div {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .skills .flexContainer .iconContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 33.3333333333%;
  }
  .aboutMe,
.skills,
.portfolio,
.contact {
    margin-top: 75px;
  }
  nav {
    height: 5vh;
  }
}